<header>
    <nav>
        <div>
            <a href="/">
                <img class="smaller_img" src="logo.png" alt="logo">
            </a>
        </div>
        <div>
            <a href="/">
                <img class="smaller_img" src="favorites.png" alt="favs">
            </a>
            <a href="/">
                <img src="profile.png" alt="favs" width="45px" height="45px">
            </a>
        </div>
    </nav>
</header>