<div class="post">
    <a href="/">
        <img src="post1.jpg" alt="post1" width="100%">
        <p>
            Top Hotels in Italy to Stay with your furry friends this Fall
        </p>
    </a>
</div>